<div class="container_page">
<%= render 'page' %>
<div class="container_posts">

<% @posts.each do |post| %>
<%= link_to post_path(post),class:'postLink' do%> 
<div class="posts_card">
 <div class="post" id="post_<%= post.id %>" data-post-id="<%= post.id %>">
  <div class="postStatus">
    <% if post.event_status.present? %>
    <span class="event_status  
    <%= 'status_Ended' if post.event_status == 'Ended' %>
    <%= 'status_Upcoming' if post.event_status == 'Upcoming' %>
    <%= 'status_Ongoing' if post.event_status == 'Ongoing' %>">
    <%= post.event_status %></span>
    <%end%>
  </div>
    <div class="postImage">
      <% if post.urls.present? %>
      <%= image_tag(post.urls.first, class: 'image') %>
      <% else %>
      <%= image_tag('UrbanView.png', class: 'image') %>
      <% end %>
      
      <% if post.going_count > 0 && post.post_type == 'Events' %>
      <span class="interaction_count" ><span id="post_<%= post.id%>_going"><%= post.going_count %> going </span>
      <%= image_tag('animated_gif.gif',class: 'animated_gif') %>
      </span>
      <% end %>
       
      <% if post.donated_count > 0 && post.post_type == 'Charity' %>
      <span class="interaction_count" ><span id="post_<%= post.id%>_donated"><%= post.donated_count %> donated</span>
      <%= image_tag('charity_gif.gif',class: 'animated_gif') %>
      </span>
      <% end %>

      <% if post.like_count > 0 %>
      <span class="interaction_count"><span id="post_<%= post.id%>_like"><%= post.like_count %> liked</span>
      <%= image_tag('like_gif.gif',class: 'animated_gif') %>
      </span>
      <% end %>

    </div>
 
  <div class="postTags">
    <% post.tags_array.each do |tag| %>
    <span class="tags"><%= tag %></span>
    <% end %>
  </div>
  <div class="postTitle">
    <p><%= post.title%> 
    <span class="postDescriptionlink"> 
    </span></p>
  </div>
   <div class="postDescription">
    <p><%= truncate(post.description, length: 70, separator: ' ') %> 
    <span class="postDescriptionlink">
    
    </span></p>
  </div>
  <div class="postUser">
    <span class="postUser_user">
      <span>
        <% if post.user.avatar.attached? %>
              <%= cl_image_tag post.user.avatar.key, class:'postAvatar' %>
        <% end %>
      </span>
      <span>
          &nbsp;@<%= post.user.username %>
      </span>
      &nbsp;
      &middot;
      &nbsp;
      <span>
          <%= post.created_at.strftime('%d %b %y') %>
      </span>
      </span>
      <span>
      <button class="index-share-button" data-title="<%= post.title %>" data-text="<%= post.description %>" data-url="<%= post_url(post) %>">
        <%= image_tag('index_share.png', alt: 'Share Post') %>
      </button>
      </span>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>


