<div class="container_page">
<%= render 'page' %>

<div class="container_createpost">
    <div class="prevContainer">
        <span>
        <%= link_to posts_path(@post), method: :get do %>
            <%= image_tag 'prev.png', alt: 'Previous', class: 'previousImage_main' %>
        <% end %>
        </span>
        <span class="prevText">Posts</span>
    </div>
<div class="createContainer">
    <h3>Create new Post</h3>
    <div class="createForm">
    <%= form_with model: @post, url: posts_path,local: true do |form| %>
    <div class="createInput">
        <%= form.label :title %>
        <%= form.text_field :title %>
    </div>
    <div class="createInput">
        <%= form.label :description %>
        <%= form.text_area :description %>
    </div>
    <div class="createInput">
        <%= form.label :location %>
        <%= form.text_field :location %>
    </div>
    <div class="createInput">
        <%= form.label :tags %>
        <%= form.text_field :tags %>
    </div>
    <div class="createInput">
        <%= form.label :postImages %>
        <%= form.file_field :images, multiple: true,accept: 'image/jpeg,image/png,image/gif'%>
    </div>
     <div class="createInput">
        <%= form.label :post_type %>
        <%= form.select :post_type, ['Events','News','Jobs','Charity','Explore'],{},{class: 'post_typeDropdown'} %>
     </div>
    <div class="createInput">
        <%= form.label :enable_event, class:'enable-event-label' %>
        <%= form.check_box :enable_event, class:'enable-event-checkbox' %>
    </div>

    <div class="event-dates">
        <div class="createInput">
        <%= form.label :start_date %>
        <%= form.datetime_local_field :start_date, disabled: !@post.enable_event %>
        </div>

        <div class="createInput">
        <%= form.label :end_date %>
        <%= form.datetime_local_field :end_date, disabled: !@post.enable_event %>
        </div>
    </div>

    <div class="createInput">
        <%= form.submit 'Create Post',class:'createBtn' %>
    </div>
    <% end %>
    </div>
</div>
</div>
</div>