<div class="container_page">
<%= render 'page' %>

<div class="container_detailpost">
    <div class="prevContainer">
        <span>
        <%= link_to posts_path(@post), method: :get do %>
            <%= image_tag 'prev.png', alt: 'Previous', class: 'previousImage_main' %>
        <% end %>
        </span>
        <span class="prevText">Back to Home</span>
    </div>

  <div class="detailContainer"> 
    <div class="detailUser">
    <div class="postTitle">
      <h1><%= @post.title %></h1> 
    <div class="postButtons">
      <button class="share-post-button" data-title="<%= @post.title %>" data-text="<%= @post.description %>" data-url="<%= post_url(@post) %>">
        <%= image_tag('share.png', alt: 'Share Post') %> Share Post
      </button>
      
      <% if logged_in? && @post.user == current_user %>
      <div class="menuIcon">
          <%= image_tag('menu.png', alt: 'Menu') %>
          <div class="postControls">    
            <%= button_to('Edit', edit_post_path(@post), method: :get, class: 'edit-post-button') %>
            <%= button_to('Delete', @post, method: :delete, class: 'delete-post-button',onclick: "return confirm('Are you sure?');") %>
          </div>
      </div>
     <% end %>
  
    </div>
 
    </div>  
    <div class="detailuserSection">
      <div class="user">
        <span class="userLogo">
          <% if @post.user.avatar.attached? %>
                <%= cl_image_tag @post.user.avatar.key, class:'detailAvatar' %>
          <% end %>
        </span>
        <span class="userData">
          <span>
              @<%= @post.user.username %>
          </span>
          <span>
              Posted on <%= @post.created_at.strftime('%d %B %Y') %>
          </span>
        </span>
        <span class="follow_unfollow-btn">
            <% unless current_user == @post.user %>
              <% if current_user.following_users.include?(@post.user) %>
                <%= form_tag unfollow_user_path(@post.user), method: :delete do %>
                <%= submit_tag 'Unfollow' %>
                <% end %>
              <% else %>
                <%= form_tag follow_user_path(@post.user), method: :post do %>
                <%= submit_tag 'Follow' %>
                <% end %>
              <% end %>
            <% end %>
        </span>
      </div>

      <div class="interactionButtons">

         <% if @post.tags.include?('events') || @post.tags.include?('Events') %>
          <%= button_to(post_interactions_path(@post, option: 'going'), method: :post, class: "like-post-button #{'selected' if @post.selected_option(current_user) == 'going'}") do %>
             <span>🙌</span>
            <span><%= @post.going_count %> Going</span>
          <% end %>

          <%= button_to(post_interactions_path(@post, option: 'not_going'), method: :post, class: "dislike-post-button #{'selected' if @post.selected_option(current_user) == 'not_going'}") do %>
             <span>😔</span>
            <span><%= @post.not_going_count %> Not going</span>
          <% end %>

          <%= button_to(post_interactions_path(@post, option: 'maybe'), method: :post, class: "maybe-post-button #{'selected' if @post.selected_option(current_user) == 'maybe'}") do %>
            <span>😶‍🌫️</span>
            <span><%= @post.maybe_count %> Maybe</span>
          <% end %>

        <% elsif @post.tags.include?('charity') || @post.tags.include?('Charity')  %>
          <%= button_to(post_interactions_path(@post, option: 'donated'), method: :post, class: "like-post-button #{'selected' if @post.selected_option(current_user) == 'donated'}") do %>
            <span>💗</span>
            <span><%= @post.donated_count %> donated</span>
          <% end %>

        <% else %>
          <%= button_to(post_interactions_path(@post, option: 'like'), method: :post, class: "like-post-button #{'selected' if @post.selected_option(current_user) == 'like'}") do %>
            <%= image_tag('like.png', alt: 'like') %>
            <span><%= @post.like_count %> likes</span>
          <% end %>

          <%= button_to(post_interactions_path(@post, option: 'dislike'), method: :post, class: "dislike-post-button #{'selected' if @post.selected_option(current_user) == 'dislike'}") do %>
            <%= image_tag('dislike.png', alt: 'Notgoing') %>
            <span><%= @post.dislike_count %> dislikes</span>
          <% end %>
        <% end %>

  
      </div>  
    </div>
    </div>

    <% if@post.urls.count > 0 %>
    <div class="detailImagesSlider">
      <% @post.urls.each do |url| %>
        <%= image_tag(url, width: '100px') %>
      <% end %>
    </div>
    <% end %>

    <% if @post.tags.include?('events') || @post.tags.include?('Events') %>
        <div class="interactionButtonsSection">
          Share your decision:
          <%= button_to(post_interactions_path(@post, option: 'going'), method: :post, class: "like-post-button") do %>
            <span>🙌</span>
            <span> Going</span>
          <% end %>

          <%= button_to(post_interactions_path(@post, option: 'not_going'), method: :post, class: "dislike-post-button") do %>
            <span>😔</span>
            <span> Not going</span>
          <% end %>

          <%= button_to(post_interactions_path(@post, option: 'maybe'), method: :post, class: "maybe-post-button") do %>
            <span>😶‍🌫️</span>
            <span> Maybe</span>
          <% end %>
          </div>
    <% end %>
    
    <div class="descriptionContainer">
      <div class="descriptionHeading">
        <h2>Description</h2>
      </div>
      <div class="description">
      <div class="detailDescription">
      <%= simple_format(@post.description) %>
      </div>
      </div>
    </div>

    <div class="tagsSection">
      <div class="tagsHeading">
        <h2>Tags</h2>
      </div>
      <% @post.tags_array.each do |tag| %>
        <span class="tags"><%= tag %></span>
      <% end %>
    </div>

    <div class="comments">

      <div class="commentsHeading">
        <h2>Comments</h2>
      </div>

      <div class="commentsSection">
    
      <div class="commentsForm">
        <div class="commentsForm_userLogo">
          <% if current_user.avatar.attached? %>
          <%= cl_image_tag current_user.avatar.key, class:'commentAvatar' %>
          <% end %>
        </div>
        <div class="commentsForm_form">
          <%= form_for [@post, Comment.new] do |f| %>
          <%= f.text_area :content, placeholder: 'Add a comment' %>
          <%= f.submit 'Submit',class:'commentSubmitbtn' %>
          <% end %>
         </div>
      </div>
    
      <div class="commentsList">
    
       <% @post.comments.each do |comment| %>
       
       <div class="comment">
        <div class="commentUser">
            <div class="commentUser_userLogo">
            <% if comment.user.avatar.attached? %>
            <%= cl_image_tag comment.user.avatar.key, class:'commentAvatar' %>
            <% end %>
            </div>
          
        </div>
        <div class="commentContent">
          <div class="commentContent_user">
            <%= comment.user.username %>&nbsp;&middot;&nbsp;<%= comment.created_at.strftime('%d %b %y') %>
            <div class="commentControls">
                <% if comment.user == current_user %>
                <%= button_to(edit_post_comment_path(@post, comment), method: :get, class: 'edit-button') do %>
                <%= image_tag('edit.png', alt: 'Edit') %>
                <% end %>
                <%= button_to(post_comment_path(@post, comment), method: :delete, class: 'delete-button', onclick: "return confirm('Are you sure?');") do %>
                <%= image_tag('delete.png', alt: 'Delete') %>
                <% end %>
                <% end %>
             </div>
          </div>
          <div class="commentContent_content">
            <%= comment.content %>
          </div>
        </div>
       </div>

    <% end %>
    </div>

  </div>

  </div>

</div>
</div>
</div>






























